# If you are using Colab for free, we highly recommend you activate the T4 GPU
# hardware accelerator. Our models are designed to run with at least 16GB
# of RAM, activating T4 will grant the notebook 16GB of GDDR6 RAM as opposed
# to the ~13GB Colab gives automatically.
# To activate T4:
# 1. click on the "Runtime" tab
# 2. click on "Change runtime type"
# 3. select T4 GPU under Hardware Accelerator
# NOTE: there is a weekly usage limit on using T4 for free


 This example shows an end-to-end recipe for creating a CustomTable, and then creating an Agent process that
    will query the table using natural language.

    Please note that this example is a 'generalized' and updated version of an earlier example -
    "text2sql-end-to-end-2.py" - now using the more powerful CustomTables class integrated into the LLMfx process

    The example shows the following steps:

    1.  Creating a custom table resource from a sample CSV file, included in the slim-sql-tool kit, and also
        available in the Examples section with Structured_Tables (customer_table.csv)

    2  Asking basic natural language questions:
        A.  Looks up the table schema
        B.  Packages the table schema with query
        C.  Runs inference to convert text into SQL
        D.  Queries the database with the generated SQL
        E.  Returns result

    3.  Using CustomtTable class, this can be run on either Postgres or SQLite DB.

    Note: as you substitute for your own CSV and JSON, check out the other examples in this section for loading
    configuration ideas and options.

This notebook is designed for the google collab environment


1) The first cell will allow this notebook to access files in your google drive. The example csv for this notebook is located at https://github.com/llmware-ai/llmware/blob/main/examples/Structured_Tables/customer_table.csv

Upload it to your drive, and ensure that when you input parameters you point to the right path where the csv is located.

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
!pip install llmware

Requirement already satisfied: llmware in /usr/local/lib/python3.10/dist-packages (0.3.0)
Requirement already satisfied: boto3>=1.24.53 in /usr/local/lib/python3.10/dist-packages (from llmware) (1.34.124)
Requirement already satisfied: huggingface-hub>=0.19.4 in /usr/local/lib/python3.10/dist-packages (from llmware) (0.23.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.10/dist-packages (from llmware) (1.25.2)
Requirement already satisfied: pymongo>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from llmware) (4.7.3)
Requirement already satisfied: tokenizers>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from llmware) (0.19.1)
Requirement already satisfied: psycopg-binary==3.1.17 in /usr/local/lib/python3.10/dist-packages (from llmware) (3.1.17)
Requirement already satisfied: psycopg==3.1.17 in /usr/local/lib/python3.10/dist-packages (from llmware) (3.1.17)
Requirement already satisfied: pgvector==0.2.4 in /usr/local/lib/python3.10/dist-packages (from llmware) (0.2.4)
Requirement already satisfied: colorama==0.4.6 in /usr/local/lib/python3.10/dist-packages (from llmware) (0.4.6)
Requirement already satisfied: librosa>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from llmware) (0.10.2.post1)
Requirement already satisfied: typing-extensions>=4.1 in /usr/local/lib/python3.10/dist-packages (from psycopg==3.1.17->llmware) (4.12.1)
Requirement already satisfied: botocore<1.35.0,>=1.34.124 in /usr/local/lib/python3.10/dist-packages (from boto3>=1.24.53->llmware) (1.34.124)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3>=1.24.53->llmware) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from boto3>=1.24.53->llmware) (0.10.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (3.14.0)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (2023.6.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (24.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (6.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (2.31.0)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.4->llmware) (4.66.4)
Requirement already satisfied: audioread>=2.1.9 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (3.0.1)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (1.11.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (1.2.2)
Requirement already satisfied: joblib>=0.14 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (1.4.2)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (4.4.2)
Requirement already satisfied: numba>=0.51.0 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (0.58.1)
Requirement already satisfied: soundfile>=0.12.1 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (0.12.1)
Requirement already satisfied: pooch>=1.1 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (1.8.1)
Requirement already satisfied: soxr>=0.3.2 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (0.3.7)
Requirement already satisfied: lazy-loader>=0.1 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (0.4)
Requirement already satisfied: msgpack>=1.0 in /usr/local/lib/python3.10/dist-packages (from librosa>=0.10.0->llmware) (1.0.8)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo>=4.7.0->llmware) (2.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.35.0,>=1.34.124->boto3>=1.24.53->llmware) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.35.0,>=1.34.124->boto3>=1.24.53->llmware) (2.0.7)
Requirement already satisfied: llvmlite<0.42,>=0.41.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.51.0->librosa>=0.10.0->llmware) (0.41.1)
Requirement already satisfied: platformdirs>=2.5.0 in /usr/local/lib/python3.10/dist-packages (from pooch>=1.1->librosa>=0.10.0->llmware) (4.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.19.4->llmware) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.19.4->llmware) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.19.4->llmware) (2024.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->librosa>=0.10.0->llmware) (3.5.0)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.10/dist-packages (from soundfile>=0.12.1->librosa>=0.10.0->llmware) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0->soundfile>=0.12.1->librosa>=0.10.0->llmware) (2.22)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.124->boto3>=1.24.53->llmware) (1.16.0)

In [34]:
import os
from llmware.agents import LLMfx
from llmware.resources import CustomTable
from llmware.configs import LLMWareConfig

In [35]:
def build_table(db=None, table_name=None, load_fp=None, load_file=None):
    """Simple example script to take a CSV or JSON/JSONL and create a DB Table."""
    custom_table = CustomTable(db=db, table_name=table_name)
    analysis = custom_table.validate_csv(load_fp, load_file)
    print("update: analysis from validate_csv: ", analysis)

    if load_file.endswith(".csv"):
        output = custom_table.load_csv(load_fp, load_file)
    elif load_file.endswith(".jsonl") or load_file.endswith(".json"):
        output = custom_table.load_json(load_fp, load_file)
    else:
        print("file type not supported for db load")
        return -1

    print("update: output from loading file: ", output)

    sample_range = min(10, len(custom_table.rows))
    for x in range(0, sample_range):
        print("update: sample rows: ", x, custom_table.rows[x])

    updated_schema = custom_table.test_and_remediate_schema(samples=20, auto_remediate=True)
    print("update: updated schema: ", updated_schema)

    custom_table.insert_rows()
    return 1

In [36]:
def agent_natural_language_sql_query(query_list, db=None, table_name=None):
    """Query a CustomTable in natural language."""
    agent = LLMfx()
    agent.load_tool("sql", sample=False, get_logits=True, temperature=0.0)

    for i, query in enumerate(query_list):
        response = agent.query_custom_table(query, db=db, table=table_name)

    for x in range(len(agent.research_list)):
        print("research: ", x, agent.research_list[x])

    return agent.research_list

In [37]:
# Input parameters
db = "sqlite"  # SQLite database path
table_name = "customer_table"

# Path to the CSV file in Google Drive
input_fp = "/content/drive/My Drive"
input_fn = "customer_table.csv"

# Build the table
build_table(db=db, table_name=table_name, load_fp=input_fp, load_file=input_fn)

update: analysis from validate_csv:  {'rows': 20, 'columns': 6, 'conforming_rows_percent': 1.0, 'column_frequency_analysis': {6: 20}, 'nonconforming_rows': []}
update: output from loading file:  {'rows': 19, 'columns': 6, 'schema': {'customer_name': 'text', 'account_number': 'integer', 'customer_level': 'text', 'vip_customer': 'text', 'annual_spend': 'integer', 'user_name': 'text'}, 'skipped_rows': []}
update: sample rows:  0 {'customer_name': 'Martha Williams', 'account_number': '98320893', 'customer_level': 'gold', 'vip_customer': 'yes', 'annual_spend': '63250', 'user_name': 'mwilliams'}
update: sample rows:  1 {'customer_name': 'Susan Soinsin', 'account_number': '53439382', 'customer_level': 'silver', 'vip_customer': 'no', 'annual_spend': '112 ', 'user_name': 'ssinsin'}
update: sample rows:  2 {'customer_name': 'Michael Rogers', 'account_number': '88888444', 'customer_level': 'bronze', 'vip_customer': 'no', 'annual_spend': '3 ', 'user_name': 'rogersm'}
update: sample rows:  3 {'customer_name': 'John Jones', 'account_number': '9898482', 'customer_level': 'gold', 'vip_customer': 'yes', 'annual_spend': '12430', 'user_name': 'jjns'}
update: sample rows:  4 {'customer_name': 'Melinda Lyons', 'account_number': '1234953', 'customer_level': 'silver', 'vip_customer': 'no', 'annual_spend': '234', 'user_name': 'mlyons'}
update: sample rows:  5 {'customer_name': 'Arvind Arora', 'account_number': '8998899', 'customer_level': 'gold', 'vip_customer': 'yes', 'annual_spend': '42650', 'user_name': 'aarora'}
update: sample rows:  6 {'customer_name': 'Paul Rinno', 'account_number': '3829235', 'customer_level': 'silver', 'vip_customer': 'no', 'annual_spend': '1293', 'user_name': 'prinno'}
update: sample rows:  7 {'customer_name': 'Vinod Aggarwal', 'account_number': '9389532', 'customer_level': 'platinum', 'vip_customer': 'yes', 'annual_spend': '93540', 'user_name': 'aggarwal'}
update: sample rows:  8 {'customer_name': 'Bryan Lewis', 'account_number': '12399853', 'customer_level': 'gold', 'vip_customer': 'no', 'annual_spend': '9732', 'user_name': 'brlewis'}
update: sample rows:  9 {'customer_name': 'Allison Winters', 'account_number': '83902867', 'customer_level': 'gold', 'vip_customer': 'yes', 'annual_spend': '15000', 'user_name': 'wintersall'}
update: updated schema:  {'customer_name': 'text', 'account_number': 'integer', 'customer_level': 'text', 'vip_customer': 'text', 'annual_spend': 'integer', 'user_name': 'text'}

1

In [38]:
query_list = [
    "Which customers have vip customer status of yes?",
    "What is the highest annual spend of any customer?",
    "Which customer has account number 1234953",
    "Which customer has the lowest annual spend?",
    "Is Susan Soinsin a vip customer?"
]

# Execute the queries
agent_natural_language_sql_query(query_list, db=db, table_name=table_name)

update: Launching LLMfx process
step - 	1 - 	creating object - ready to start processing.
step - 	2 - 	loading tool - sql
step - 	3 - 	loading new processing text - 1 new entries
step - 	4 - 	executing function call - deploying - text-to-sql
				 -- query - Which customers have vip customer status of yes?
				 -- table_schema - CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )
step - 	5 - 	executing function call - getting response - sql
				 -- llm_response - SELECT customer_name FROM customer_table WHERE vip_customer = 'yes'
				 -- output type - text
				 -- usage - {'input': 58, 'output': 17, 'total': 75, 'metric': 'tokens', 'processing_time': 1.0267748832702637}
step - 	6 - 	executing research call - executing query on db
				 -- db - sqlite
				 -- sql_query - SELECT customer_name FROM customer_table WHERE vip_customer = 'yes'
step - 	7 - 	executing research  - getting response - sql
				 -- result - [('Martha Williams',), ('John Jones',), ('Arvind Arora',), ('Vinod Aggarwal',), ('Allison Winters',), ('Olivia Smith',), ('Alan Wang',), ('Wilmer Rodriguez',), ('Eliza Listron',), ('Douglas Hudson',), ('Martha Williams',), ('John Jones',), ('Arvind Arora',), ('Vinod Aggarwal',), ('Allison Winters',), ('Olivia Smith',), ('Alan Wang',), ('Wilmer Rodriguez',), ('Eliza Listron',), ('Douglas Hudson',)]
step - 	8 - 	loading new processing text - 1 new entries
step - 	9 - 	executing function call - deploying - text-to-sql
				 -- query - What is the highest annual spend of any customer?
				 -- table_schema - CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )
step - 	10 - 	executing function call - getting response - sql
				 -- llm_response - SELECT MAX(annual_spend) FROM customer_table
				 -- output type - text
				 -- usage - {'input': 57, 'output': 13, 'total': 70, 'metric': 'tokens', 'processing_time': 1.495262861251831}
step - 	11 - 	executing research call - executing query on db
				 -- db - sqlite
				 -- sql_query - SELECT MAX(annual_spend) FROM customer_table
step - 	12 - 	executing research  - getting response - sql
				 -- result - [(93540,)]
step - 	13 - 	loading new processing text - 1 new entries
step - 	14 - 	executing function call - deploying - text-to-sql
				 -- query - Which customer has account number 1234953
				 -- table_schema - CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )
step - 	15 - 	executing function call - getting response - sql
				 -- llm_response - SELECT customer_name FROM customer_table WHERE account_number = 1234953
				 -- output type - text
				 -- usage - {'input': 61, 'output': 21, 'total': 82, 'metric': 'tokens', 'processing_time': 2.2324819564819336}
step - 	16 - 	executing research call - executing query on db
				 -- db - sqlite
				 -- sql_query - SELECT customer_name FROM customer_table WHERE account_number = 1234953
step - 	17 - 	executing research  - getting response - sql
				 -- result - [('Melinda Lyons',), ('Melinda Lyons',)]
step - 	18 - 	loading new processing text - 1 new entries
step - 	19 - 	executing function call - deploying - text-to-sql
				 -- query - Which customer has the lowest annual spend?
				 -- table_schema - CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )
step - 	20 - 	executing function call - getting response - sql
				 -- llm_response - SELECT customer_name FROM customer_table ORDER BY annual_spend LIMIT 1
				 -- output type - text
				 -- usage - {'input': 56, 'output': 17, 'total': 73, 'metric': 'tokens', 'processing_time': 1.4454705715179443}
step - 	21 - 	executing research call - executing query on db
				 -- db - sqlite
				 -- sql_query - SELECT customer_name FROM customer_table ORDER BY annual_spend LIMIT 1
step - 	22 - 	executing research  - getting response - sql
				 -- result - [('Michael Rogers',)]
step - 	23 - 	loading new processing text - 1 new entries
step - 	24 - 	executing function call - deploying - text-to-sql
				 -- query - Is Susan Soinsin a vip customer?
				 -- table_schema - CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )
step - 	25 - 	executing function call - getting response - sql
				 -- llm_response - SELECT vip_customer FROM customer_table WHERE customer_name = 'Susan Soinsin'
				 -- output type - text
				 -- usage - {'input': 57, 'output': 22, 'total': 79, 'metric': 'tokens', 'processing_time': 1.4810450077056885}
step - 	26 - 	executing research call - executing query on db
				 -- db - sqlite
				 -- sql_query - SELECT vip_customer FROM customer_table WHERE customer_name = 'Susan Soinsin'
step - 	27 - 	executing research  - getting response - sql
				 -- result - [('no',), ('no',)]
research:  0 {'step': 6, 'tool': 'sql', 'db_response': [('Martha Williams',), ('John Jones',), ('Arvind Arora',), ('Vinod Aggarwal',), ('Allison Winters',), ('Olivia Smith',), ('Alan Wang',), ('Wilmer Rodriguez',), ('Eliza Listron',), ('Douglas Hudson',), ('Martha Williams',), ('John Jones',), ('Arvind Arora',), ('Vinod Aggarwal',), ('Allison Winters',), ('Olivia Smith',), ('Alan Wang',), ('Wilmer Rodriguez',), ('Eliza Listron',), ('Douglas Hudson',)], 'sql_query': "SELECT customer_name FROM customer_table WHERE vip_customer = 'yes'", 'query': 'Which customers have vip customer status of yes?', 'db': 'sqlite', 'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}
research:  1 {'step': 11, 'tool': 'sql', 'db_response': [(93540,)], 'sql_query': 'SELECT MAX(annual_spend) FROM customer_table', 'query': 'What is the highest annual spend of any customer?', 'db': 'sqlite', 'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}
research:  2 {'step': 16, 'tool': 'sql', 'db_response': [('Melinda Lyons',), ('Melinda Lyons',)], 'sql_query': 'SELECT customer_name FROM customer_table WHERE account_number = 1234953', 'query': 'Which customer has account number 1234953', 'db': 'sqlite', 'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}
research:  3 {'step': 21, 'tool': 'sql', 'db_response': [('Michael Rogers',)], 'sql_query': 'SELECT customer_name FROM customer_table ORDER BY annual_spend LIMIT 1', 'query': 'Which customer has the lowest annual spend?', 'db': 'sqlite', 'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}
research:  4 {'step': 26, 'tool': 'sql', 'db_response': [('no',), ('no',)], 'sql_query': "SELECT vip_customer FROM customer_table WHERE customer_name = 'Susan Soinsin'", 'query': 'Is Susan Soinsin a vip customer?', 'db': 'sqlite', 'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}

[{'step': 6,
  'tool': 'sql',
  'db_response': [('Martha Williams',),
   ('John Jones',),
   ('Arvind Arora',),
   ('Vinod Aggarwal',),
   ('Allison Winters',),
   ('Olivia Smith',),
   ('Alan Wang',),
   ('Wilmer Rodriguez',),
   ('Eliza Listron',),
   ('Douglas Hudson',),
   ('Martha Williams',),
   ('John Jones',),
   ('Arvind Arora',),
   ('Vinod Aggarwal',),
   ('Allison Winters',),
   ('Olivia Smith',),
   ('Alan Wang',),
   ('Wilmer Rodriguez',),
   ('Eliza Listron',),
   ('Douglas Hudson',)],
  'sql_query': "SELECT customer_name FROM customer_table WHERE vip_customer = 'yes'",
  'query': 'Which customers have vip customer status of yes?',
  'db': 'sqlite',
  'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'},
 {'step': 11,
  'tool': 'sql',
  'db_response': [(93540,)],
  'sql_query': 'SELECT MAX(annual_spend) FROM customer_table',
  'query': 'What is the highest annual spend of any customer?',
  'db': 'sqlite',
  'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'},
 {'step': 16,
  'tool': 'sql',
  'db_response': [('Melinda Lyons',), ('Melinda Lyons',)],
  'sql_query': 'SELECT customer_name FROM customer_table WHERE account_number = 1234953',
  'query': 'Which customer has account number 1234953',
  'db': 'sqlite',
  'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'},
 {'step': 21,
  'tool': 'sql',
  'db_response': [('Michael Rogers',)],
  'sql_query': 'SELECT customer_name FROM customer_table ORDER BY annual_spend LIMIT 1',
  'query': 'Which customer has the lowest annual spend?',
  'db': 'sqlite',
  'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'},
 {'step': 26,
  'tool': 'sql',
  'db_response': [('no',), ('no',)],
  'sql_query': "SELECT vip_customer FROM customer_table WHERE customer_name = 'Susan Soinsin'",
  'query': 'Is Susan Soinsin a vip customer?',
  'db': 'sqlite',
  'work_item': 'CREATE TABLE customer_table (customer_name text, account_number integer, customer_level text, vip_customer text, annual_spend integer, user_name text )'}]